<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Request Test Drive
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Client Mobile</th>
                                <th>Client Email</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let testDrive of testDriveList | paginate : {itemsPerPage:5 , currentPage : page, totalItems: totalCount}">

                                <td>{{testDrive.clientName}}</td>
                                <td>{{testDrive.clientPhone}}</td>
                                <td>{{testDrive.clientEmail}}</td>
                                <td>{{testDrive.note}}</td>
                                <td>
                                    <button class="btn btn-danger" type="button" data-toggle="modal" (click)="openModal(deleteTemplate)">Delete</button>
                                </td>

                                <ng-template #deleteTemplate>
                                    <div class="modal-body text-center">
                                        <p>Do You Want To Delete This Request ?</p>
                                        <button type="button" class="btn btn-default" (click)="confirm(brand.brandId)">Yes</button>
                                        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                                    </div>
                                </ng-template>

                            </tr>

                        </tbody>
                    </table>
                    <div class="pagein">
                        <pagination-controls (pageChange)="pageChanged($event)" maxSize={{totalPages}}></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>