.img-table {
    height: auto;
    width: auto;
    max-width: 50px;
    max-height: 50px;
}

.img-avatar{
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 60px;
}

.close-buton {
    visibility: hidden;
}

.pagein {
    text-align: center;
}

.img-table {
    border-radius: 30px;
}

.errors {
    color: red;
}