
.settings{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}
.upload{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.img-avatar {
    height: auto;
    width: auto;
    max-width: 241px;
    max-height: 240px;
}