<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> ContactUs Table
                </div>

                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Client Name</th>
                                <th>Client Email</th>
                                <th>Client Phone</th>
                                <th>Description</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of ContactUsList | paginate : {itemsPerPage:10 , currentPage : page, totalItems: totalCount}">
                                <td>{{contact.clientName}}</td>
                                <td>{{contact.clientEmail}}</td>
                                <td>{{contact.clientPhone}}</td>
                                <td>
                                    <p class="ellipsis">{{contact.description}}</p>
                                </td>
                                <td>
                                    <button class="btn btn-primary" type="button" (click)='openModal(description)'  >see more...</button>
                                </td>
                                <td>
                                    <button class="btn btn-danger" type="button" (click)="openModal(deleteTemplate)">Delete</button>
                                </td>

                                <!-- Modal -->
                                <ng-template #description>
                                    <div class="modal-body text-center">
                                        <p>Description</p>
                                        <div>
                                            <P>
                                                {{contact.description}}
                                            </P>
                                        </div>
                                        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                                    </div>
                                </ng-template>
                                <ng-template #deleteTemplate>
                                    <div class="modal-body text-center">
                                        <p>Do You Want To Delete This ContactUs Request ?</p>
                                        <button type="button" class="btn btn-default" (click)="confirm(contact.complainId)">Yes</button>
                                        <button type="button" class="btn btn-primary" (click)="decline()">close</button>
                                    </div>
                                </ng-template>


                            </tr>
                        </tbody>
                    </table>
                    <div class="pagein">
                        <pagination-controls (pageChange)="pageChanged($event)" maxSize={{totalPages}}></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>